.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    table-layout: fixed;  /* Change to fixed layout */
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    word-wrap: break-word;  /* Ensure text wraps */
    overflow-wrap: break-word;  /* Ensure text wraps */
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 10%;  /* Adjust width of Title column */
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 10%;  /* Adjust width of Author column */
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 50%;  /* Adjust width of Description column */
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 10%;  /* Adjust width of Price column */
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 20%;  /* Adjust width of Actions column */
}
.edit-button {
    margin-right: 10px; /* Adjust the amount of space as needed */
}
