{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-4">Bookstore</h1>
    <a href="{{ url_for('edit_book', id=-1) }}" class="btn btn-success mb-4">Add Book</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description[:100] }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <a href="{{ url_for('edit_book', id=book.id) }}" class="btn btn-warning btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M.146 11.354a.5.5 0 0 0 0 .707l2.147 2.146a.5.5 0 0 0 .708 0l8.647-8.646a.5.5 0 0 0 0-.708l-2.146-2.147a.5.5 0 0 0-.707 0L.146 11.354z"/>
                            <path fill-rule="evenodd" d="M10.354.146a1 1 0 0 1 1.32.083l3.829 3.829a1 1 0 0 1 .083 1.32l-8.647 8.647a1 1 0 0 1-.708.293H5.5a1 1 0 0 1-1-1v-3.646a1 1 0 0 1 .293-.708z"/>
                          </svg>
                        Edit
                    </a>
                    <a href="{{ url_for('delete_book', id=book.id) }}" class="btn btn-danger btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M1.5 5.5a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 .5.5V6h-13v-.5zm3.8-2.7a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V4h-4V2.8zm8 .2V4H3V2h9.8z"/>
                            <path fill-rule="evenodd" d="M2.5 6V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6H2.5z"/>
                          </svg>
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
